body {
	font-family: Futura!important;
	letter-spacing: 0.02em!important;
}

p {
	margin: 0!important;
}

/* font-size */
.rem1p3 {
	font-size: 1.3rem;
}

.rem1p5 {
	font-size: 1.5rem;
}

/* background */
.bg-navy {
	background: #0B5073;
}

/* effect */
.hover {
	opacity:0.8;
}

.hover:hover {
	opacity: 0.9;
}

.hover:active {
	-webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;
}

/* specific layout */
.money-box {
	margin: 1em 0;
	border: double 5px white;
	background: #1A4567;
	color: white;
}

.calculation-box {
	margin: 0.5em 0;
	padding: 0.5em 0;
	border: solid 2px white;
	background: #1A4567;
	color: white;
}